Cliente/Erstick_Hangman/Connected Services/ServicioAhorcado/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MessageServiceA" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="IniciarSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MessageServiceA" minOccurs="0" name="cuenta" nillable="true" type="q1:Cuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarSesionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MessageServiceA" minOccurs="0" name="IniciarSesionResult" nillable="true" type="q2:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MessageServiceA" minOccurs="0" name="sala" nillable="true" type="q3:Sala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearSalaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearSalaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarSalasDisponibles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarSalasDisponiblesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MessageServiceA" minOccurs="0" name="ConsultarSalasDisponiblesResult" nillable="true" type="q4:ArrayOfSala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarJugadoresSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSala" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarJugadoresSalaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ConsultarJugadoresSalaResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnirseSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSala" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MessageServiceA" minOccurs="0" name="jugador" nillable="true" type="q6:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSala" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarSalaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarSalaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarMensaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSala" type="xs:int" />
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalirChat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSala" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecibirMensajeLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecibirMensajeMiembroLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entrada" type="xs:boolean" />
        <xs:element minOccurs="0" name="apodo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>