Cliente/Erstick_Hangman/Connected Services/ServicioErstick2/ServiceSistema.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceSistema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IControlCuenta_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IControlJuego_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8282/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8282/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8282/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MessageServiceE" />
      <xsd:import schemaLocation="http://localhost:8282/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IControlCuenta_IniciarSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:IniciarSesion" />
  </wsdl:message>
  <wsdl:message name="IControlCuenta_IniciarSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:IniciarSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCuenta_CerrarSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:CerrarSesion" />
  </wsdl:message>
  <wsdl:message name="IControlCuenta_CerrarSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:CerrarSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCuenta_RegistrarJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarJugador" />
  </wsdl:message>
  <wsdl:message name="IControlCuenta_RegistrarJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCuenta_ActivarCuentaJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivarCuentaJugador" />
  </wsdl:message>
  <wsdl:message name="IControlCuenta_ActivarCuentaJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivarCuentaJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCuenta_VerificarCuenta_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarCuenta" />
  </wsdl:message>
  <wsdl:message name="IControlCuenta_VerificarCuenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCuenta_EnviarCorreo_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCorreo" />
  </wsdl:message>
  <wsdl:message name="IControlCuenta_EnviarCorreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCuenta_ConsultarPuntajesPropios_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPuntajesPropios" />
  </wsdl:message>
  <wsdl:message name="IControlCuenta_ConsultarPuntajesPropios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPuntajesPropiosResponse" />
  </wsdl:message>
  <wsdl:message name="IControlCuenta_ConsultarMejoresPuntajes_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarMejoresPuntajes" />
  </wsdl:message>
  <wsdl:message name="IControlCuenta_ConsultarMejoresPuntajes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarMejoresPuntajesResponse" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_CrearSala_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearSala" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_CrearSala_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearSalaResponse" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_ConsultarSalasDisponibles_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarSalasDisponibles" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_ConsultarSalasDisponibles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarSalasDisponiblesResponse" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_ConsultarJugadoresSala_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarJugadoresSala" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_ConsultarJugadoresSala_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarJugadoresSalaResponse" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_UnirseSala_InputMessage">
    <wsdl:part name="parameters" element="tns:UnirseSala" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_ValidarSala_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarSala" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_ValidarSala_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarSalaResponse" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_EnviarMensaje_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarMensaje" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_SalirChat_InputMessage">
    <wsdl:part name="parameters" element="tns:SalirChat" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_IniciarJuego_InputMessage">
    <wsdl:part name="parameters" element="tns:IniciarJuego" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_UnirseJuego_InputMessage">
    <wsdl:part name="parameters" element="tns:UnirseJuego" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_EnviarMensajeJuego_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarMensajeJuego" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_SalirJuego_InputMessage">
    <wsdl:part name="parameters" element="tns:SalirJuego" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_AsignarFicha_InputMessage">
    <wsdl:part name="parameters" element="tns:AsignarFicha" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_RecibirTiro_InputMessage">
    <wsdl:part name="parameters" element="tns:RecibirTiro" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_RecibirMensajeLobby_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirMensajeLobby" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_RecibirMensajeMiembroLobby_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirMensajeMiembroLobby" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_EntrarJuego_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:EntrarJuego" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_RecibirMensaje_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirMensaje" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_RecibirMensajeMiembro_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirMensajeMiembro" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_ElegirFicha_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ElegirFicha" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_MostrarFichaElegida_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MostrarFichaElegida" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_Tirar_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Tirar" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_MostrarTiro_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MostrarTiro" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_MostrarGanador_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MostrarGanador" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_MostrarFichaElegida2_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MostrarFichaElegida2" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_MostrarErrorPlayerAuxiliar_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MostrarErrorPlayerAuxiliar" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_ActualizarErrores_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ActualizarErrores" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_ActualizarErrores_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ActualizarErroresResponse" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_ActualizarGanador_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ActualizarGanador" />
  </wsdl:message>
  <wsdl:message name="IControlJuego_ActualizarGanador_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ActualizarGanadorResponse" />
  </wsdl:message>
  <wsdl:portType name="IControlCuenta">
    <wsdl:operation name="IniciarSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCuenta/IniciarSesion" message="tns:IControlCuenta_IniciarSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCuenta/IniciarSesionResponse" message="tns:IControlCuenta_IniciarSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CerrarSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCuenta/CerrarSesion" message="tns:IControlCuenta_CerrarSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCuenta/CerrarSesionResponse" message="tns:IControlCuenta_CerrarSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCuenta/RegistrarJugador" message="tns:IControlCuenta_RegistrarJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCuenta/RegistrarJugadorResponse" message="tns:IControlCuenta_RegistrarJugador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivarCuentaJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCuenta/ActivarCuentaJugador" message="tns:IControlCuenta_ActivarCuentaJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCuenta/ActivarCuentaJugadorResponse" message="tns:IControlCuenta_ActivarCuentaJugador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarCuenta">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCuenta/VerificarCuenta" message="tns:IControlCuenta_VerificarCuenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCuenta/VerificarCuentaResponse" message="tns:IControlCuenta_VerificarCuenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarCorreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCuenta/EnviarCorreo" message="tns:IControlCuenta_EnviarCorreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCuenta/EnviarCorreoResponse" message="tns:IControlCuenta_EnviarCorreo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPuntajesPropios">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCuenta/ConsultarPuntajesPropios" message="tns:IControlCuenta_ConsultarPuntajesPropios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCuenta/ConsultarPuntajesPropiosResponse" message="tns:IControlCuenta_ConsultarPuntajesPropios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarMejoresPuntajes">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlCuenta/ConsultarMejoresPuntajes" message="tns:IControlCuenta_ConsultarMejoresPuntajes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlCuenta/ConsultarMejoresPuntajesResponse" message="tns:IControlCuenta_ConsultarMejoresPuntajes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IControlJuego">
    <wsdl:operation name="CrearSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlJuego/CrearSala" message="tns:IControlJuego_CrearSala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlJuego/CrearSalaResponse" message="tns:IControlJuego_CrearSala_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarSalasDisponibles">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlJuego/ConsultarSalasDisponibles" message="tns:IControlJuego_ConsultarSalasDisponibles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlJuego/ConsultarSalasDisponiblesResponse" message="tns:IControlJuego_ConsultarSalasDisponibles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarJugadoresSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlJuego/ConsultarJugadoresSala" message="tns:IControlJuego_ConsultarJugadoresSala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlJuego/ConsultarJugadoresSalaResponse" message="tns:IControlJuego_ConsultarJugadoresSala_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnirseSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlJuego/UnirseSala" message="tns:IControlJuego_UnirseSala_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlJuego/ValidarSala" message="tns:IControlJuego_ValidarSala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlJuego/ValidarSalaResponse" message="tns:IControlJuego_ValidarSala_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarMensaje">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlJuego/EnviarMensaje" message="tns:IControlJuego_EnviarMensaje_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalirChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlJuego/SalirChat" message="tns:IControlJuego_SalirChat_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IniciarJuego">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlJuego/IniciarJuego" message="tns:IControlJuego_IniciarJuego_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnirseJuego">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlJuego/UnirseJuego" message="tns:IControlJuego_UnirseJuego_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarMensajeJuego">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlJuego/EnviarMensajeJuego" message="tns:IControlJuego_EnviarMensajeJuego_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalirJuego">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlJuego/SalirJuego" message="tns:IControlJuego_SalirJuego_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AsignarFicha">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlJuego/AsignarFicha" message="tns:IControlJuego_AsignarFicha_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecibirTiro">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlJuego/RecibirTiro" message="tns:IControlJuego_RecibirTiro_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecibirMensajeLobby">
      <wsdl:output wsaw:Action="http://tempuri.org/IControlJuego/RecibirMensajeLobby" message="tns:IControlJuego_RecibirMensajeLobby_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecibirMensajeMiembroLobby">
      <wsdl:output wsaw:Action="http://tempuri.org/IControlJuego/RecibirMensajeMiembroLobby" message="tns:IControlJuego_RecibirMensajeMiembroLobby_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="EntrarJuego">
      <wsdl:output wsaw:Action="http://tempuri.org/IControlJuego/EntrarJuego" message="tns:IControlJuego_EntrarJuego_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecibirMensaje">
      <wsdl:output wsaw:Action="http://tempuri.org/IControlJuego/RecibirMensaje" message="tns:IControlJuego_RecibirMensaje_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecibirMensajeMiembro">
      <wsdl:output wsaw:Action="http://tempuri.org/IControlJuego/RecibirMensajeMiembro" message="tns:IControlJuego_RecibirMensajeMiembro_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ElegirFicha">
      <wsdl:output wsaw:Action="http://tempuri.org/IControlJuego/ElegirFicha" message="tns:IControlJuego_ElegirFicha_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostrarFichaElegida">
      <wsdl:output wsaw:Action="http://tempuri.org/IControlJuego/MostrarFichaElegida" message="tns:IControlJuego_MostrarFichaElegida_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="Tirar">
      <wsdl:output wsaw:Action="http://tempuri.org/IControlJuego/Tirar" message="tns:IControlJuego_Tirar_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostrarTiro">
      <wsdl:output wsaw:Action="http://tempuri.org/IControlJuego/MostrarTiro" message="tns:IControlJuego_MostrarTiro_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostrarGanador">
      <wsdl:output wsaw:Action="http://tempuri.org/IControlJuego/MostrarGanador" message="tns:IControlJuego_MostrarGanador_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostrarFichaElegida2">
      <wsdl:output wsaw:Action="http://tempuri.org/IControlJuego/MostrarFichaElegida2" message="tns:IControlJuego_MostrarFichaElegida2_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostrarErrorPlayerAuxiliar">
      <wsdl:output wsaw:Action="http://tempuri.org/IControlJuego/MostrarErrorPlayerAuxiliar" message="tns:IControlJuego_MostrarErrorPlayerAuxiliar_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarErrores">
      <wsdl:output wsaw:Action="http://tempuri.org/IControlJuego/ActualizarErrores" message="tns:IControlJuego_ActualizarErrores_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IControlJuego/ActualizarErroresResponse" message="tns:IControlJuego_ActualizarErrores_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarGanador">
      <wsdl:output wsaw:Action="http://tempuri.org/IControlJuego/ActualizarGanador" message="tns:IControlJuego_ActualizarGanador_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IControlJuego/ActualizarGanadorResponse" message="tns:IControlJuego_ActualizarGanador_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IControlCuenta" type="tns:IControlCuenta">
    <wsp:PolicyReference URI="#NetTcpBinding_IControlCuenta_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="IniciarSesion">
      <soap12:operation soapAction="http://tempuri.org/IControlCuenta/IniciarSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CerrarSesion">
      <soap12:operation soapAction="http://tempuri.org/IControlCuenta/CerrarSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarJugador">
      <soap12:operation soapAction="http://tempuri.org/IControlCuenta/RegistrarJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivarCuentaJugador">
      <soap12:operation soapAction="http://tempuri.org/IControlCuenta/ActivarCuentaJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarCuenta">
      <soap12:operation soapAction="http://tempuri.org/IControlCuenta/VerificarCuenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarCorreo">
      <soap12:operation soapAction="http://tempuri.org/IControlCuenta/EnviarCorreo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPuntajesPropios">
      <soap12:operation soapAction="http://tempuri.org/IControlCuenta/ConsultarPuntajesPropios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarMejoresPuntajes">
      <soap12:operation soapAction="http://tempuri.org/IControlCuenta/ConsultarMejoresPuntajes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IControlJuego" type="tns:IControlJuego">
    <wsp:PolicyReference URI="#NetTcpBinding_IControlJuego_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CrearSala">
      <soap12:operation soapAction="http://tempuri.org/IControlJuego/CrearSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarSalasDisponibles">
      <soap12:operation soapAction="http://tempuri.org/IControlJuego/ConsultarSalasDisponibles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarJugadoresSala">
      <soap12:operation soapAction="http://tempuri.org/IControlJuego/ConsultarJugadoresSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnirseSala">
      <soap12:operation soapAction="http://tempuri.org/IControlJuego/UnirseSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ValidarSala">
      <soap12:operation soapAction="http://tempuri.org/IControlJuego/ValidarSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarMensaje">
      <soap12:operation soapAction="http://tempuri.org/IControlJuego/EnviarMensaje" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SalirChat">
      <soap12:operation soapAction="http://tempuri.org/IControlJuego/SalirChat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="IniciarJuego">
      <soap12:operation soapAction="http://tempuri.org/IControlJuego/IniciarJuego" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UnirseJuego">
      <soap12:operation soapAction="http://tempuri.org/IControlJuego/UnirseJuego" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="EnviarMensajeJuego">
      <soap12:operation soapAction="http://tempuri.org/IControlJuego/EnviarMensajeJuego" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SalirJuego">
      <soap12:operation soapAction="http://tempuri.org/IControlJuego/SalirJuego" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AsignarFicha">
      <soap12:operation soapAction="http://tempuri.org/IControlJuego/AsignarFicha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RecibirTiro">
      <soap12:operation soapAction="http://tempuri.org/IControlJuego/RecibirTiro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RecibirMensajeLobby">
      <soap12:operation soapAction="http://tempuri.org/IControlJuego/RecibirMensajeLobby" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibirMensajeMiembroLobby">
      <soap12:operation soapAction="http://tempuri.org/IControlJuego/RecibirMensajeMiembroLobby" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EntrarJuego">
      <soap12:operation soapAction="http://tempuri.org/IControlJuego/EntrarJuego" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibirMensaje">
      <soap12:operation soapAction="http://tempuri.org/IControlJuego/RecibirMensaje" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibirMensajeMiembro">
      <soap12:operation soapAction="http://tempuri.org/IControlJuego/RecibirMensajeMiembro" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElegirFicha">
      <soap12:operation soapAction="http://tempuri.org/IControlJuego/ElegirFicha" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarFichaElegida">
      <soap12:operation soapAction="http://tempuri.org/IControlJuego/MostrarFichaElegida" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tirar">
      <soap12:operation soapAction="http://tempuri.org/IControlJuego/Tirar" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarTiro">
      <soap12:operation soapAction="http://tempuri.org/IControlJuego/MostrarTiro" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarGanador">
      <soap12:operation soapAction="http://tempuri.org/IControlJuego/MostrarGanador" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarFichaElegida2">
      <soap12:operation soapAction="http://tempuri.org/IControlJuego/MostrarFichaElegida2" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarErrorPlayerAuxiliar">
      <soap12:operation soapAction="http://tempuri.org/IControlJuego/MostrarErrorPlayerAuxiliar" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarErrores">
      <soap12:operation soapAction="http://tempuri.org/IControlJuego/ActualizarErrores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarGanador">
      <soap12:operation soapAction="http://tempuri.org/IControlJuego/ActualizarGanador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceSistema">
    <wsdl:port name="NetTcpBinding_IControlCuenta" binding="tns:NetTcpBinding_IControlCuenta">
      <soap12:address location="net.tcp://localhost:8091/EndpointCuenta" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8091/EndpointCuenta</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IControlJuego" binding="tns:NetTcpBinding_IControlJuego">
      <soap12:address location="net.tcp://localhost:8091/EndpointJuego" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8091/EndpointJuego</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>